<div class="container mt-5">
  <i class="fas fa-arrow-left" (click)="goBack()"></i> Back

  <h1 class="text-center mb-4">Upload Investment Portfolio Excel</h1>
  <!-- File input for Excel file -->
  <div class="input-group mb-3">
    <input
      type="file"
      class="form-control"
      (change)="onFileSelect($event)"
      accept=".xlsx, .xls"
    />
    <button
      class="btn btn-primary"
      (click)="onUpload()"
      [disabled]="!selectedFile"
    >
      Upload
    </button>
  </div>

  <!-- Display the portfolio data in a table -->
  <div class="table-responsive mt-4 custom-table">
    <h1 class="text-center mb-4">Invested Stocks data</h1>
  </div>
  <table class="table table-bordered table-hover table-striped">
    <thead class="table-dark text-center">
      <tr>
        <th>Stock Name</th>
        <th>ISIN</th>
        <th>Quantity</th>
        <th>Buy Price</th>
        <th>Buy Value</th>
        <th>Sell Price</th>
        <th>Sell Value</th>
        <th><a [routerLink]="['/dashboard']">Realised P&L</a></th>
        <th>Buy Date</th>
        <th>Sell Date</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let data of portfolioData?.StockHoldings"
        class="text-center"
        [ngClass]="{'table-dark text-center': data.StockName === 'Stock name',
                      'highlight-row': data.StockName === 'Stock name' || data.StockName === 'Unrealised trades',
                      }"
      >
        <td>{{ data.StockName }}</td>
        <td>{{ data.ISIN }}</td>
        <td>{{ data.Quantity }}</td>
        <td>{{ data.BuyPrice }}</td>
        <td>{{ data.BuyValue }}</td>
        <td>{{ data.SellPrice }}</td>
        <td>{{ data.SellValue }}</td>
        <td
          [ngClass]="{
            'text-success': data.RealisedPL >= 0,
            'text-danger': data.RealisedPL < 0
          }"
        >
          {{ data.RealisedPL }}
        </td>
        <td>{{ data.BuyDate }}</td>
        <td>{{ data.SellDate }}</td>
      </tr>
    </tbody>
  </table>
</div>
