<div class="container mt-5">
  <i class="fas fa-arrow-left" (click)="goBack()"></i> Back

  <h1 class="text-center mb-4">Upload Mutual Fund Excel</h1>
  <!-- File input for Excel file -->
  <div class="input-group mb-3">
    <input
      type="file"
      class="form-control"
      (change)="onFileSelect($event)"
      accept=".xlsx, .xls"
    />
    <button
      class="btn btn-primary"
      (click)="onUpload()"
      [disabled]="!selectedFile"
    >
      Upload
    </button>
  </div>
  <table class="table table-bordered table-hover table-striped">
    <thead class="table-dark text-center">
      <tr *ngFor="let data of mutualFundData.holdings; let i = index">
        <td *ngIf="i === 1">{{ data.schemeName }}</td>
        <td *ngIf="i === 1">{{ data.amc }}</td>
        <td *ngIf="i === 1">{{ data.category }}</td>
        <td *ngIf="i === 1">{{ data.subCategory }}</td>
        <td *ngIf="i === 1">{{ data.folioNo }}</td>
        <td *ngIf="i === 1">{{ data.source }}</td>
        <td *ngIf="i === 1">{{ data.units }}</td>
        <td *ngIf="i === 1">{{ data.investedValue }}</td>
        <td *ngIf="i === 1">{{ data.currentValue }}</td>
        <td *ngIf="i === 1">{{ data.returns }}</td>
        <td *ngIf="i === 1">{{ data.xirr }}</td>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let data of mutualFundData.holdings; let i = index"
        class="text-center"
      >
        <td *ngIf="i > 2">{{ data.schemeName }}</td>
        <td *ngIf="i > 2">{{ data.amc }}</td>
        <td *ngIf="i > 2">{{ data.category }}</td>
        <td *ngIf="i > 2">{{ data.subCategory }}</td>
        <td *ngIf="i > 2">{{ data.folioNo }}</td>
        <td *ngIf="i > 2">{{ data.source }}</td>
        <td *ngIf="i > 2">{{ data.units }}</td>
        <td *ngIf="i > 2">{{ data.investedValue }}</td>
        <td *ngIf="i > 2">{{ data.currentValue }}</td>
        <td 
        [ngClass]="{
          'text-success': data.returns >= 0,
          'text-danger': data.returns < 0
        }"
        *ngIf="i > 2">{{ data.returns }}</td>
        <td *ngIf="i > 2">{{ data.xirr }}</td>
      </tr>
    </tbody>
  </table>
</div>
