<div class="grid-container">
  <!-- Top-left chart -->
  <div class="chart-container">
    <p-chart
      type="doughnut"
      [data]="chartData"
      [options]="chartOptions"
    ></p-chart>
  </div>

  <!-- Top-right chart -->
  <div class="chart-container">
    <!-- <p-chart
      type="doughnut"
      [data]="chartData"
      [options]="chartOptions"
    ></p-chart> -->
  </div>

  <!-- Bottom-left (blank for future use) -->
  <div class="chart-container">
    <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
  </div>

  <!-- Bottom-right (blank for future use) -->
  <div class="blank-container"></div>
</div>
